<div class="full_section">
    <div class="container_section">
        {{^issetResult}}
            <div class="track_box">
                <span class="h2 font_bold">Введите номер заказа</span>
                <form action="" method="get">
                    <input type="text" name="order" placeholder="" value="{{order}}">
                    <button class="button" data-yandex-goals='["see_page_see"]'>Отследить</button>
                </form>
                {{#errorMessage}}
                    <div class="order-form-error">{{{.}}}</div>
                {{/errorMessage}}
            </div>
        {{/issetResult}}
        {{#issetResult}}
            <div class="lead_box">
                <div class="lead_info">
                    <div class="title">{{{customer}}}</div>
                    <div class="lead_number">Ваш заказ №  {{order}}</div>
                    {{#queuePosition}}
                        <div class="order">Перед вами {{queuePosition}} {{queuePositionWordForm}}</div>
                    {{/queuePosition}}
                    <div class="dates">
                        <div class="date_installation">
                            <div>ориентировочная дата отгрузки/монтажа</div>
                            <div class="date">{{firstInstallationDate}}</div>
                        </div>
                        {{#installationDateBeenChanged}}
                            <div class="date_change">
                                <div>дата монтажа изменена</div>
                                <div class="date">{{installationDate}}</div>
                            </div>
                        {{/installationDateBeenChanged}}
                    </div>
                    {{^notes.isEmpty}}
                        <div class="note">
                            <div class="h2 h2_bottom_margin font_bold">Заметки:</div>
                            {{#lines}}
                                <p class="{{#type}}note_{{.}}{{/type}}"><span>{{date}}</span> {{{status}}}</p>
                            {{/lines}}
                            {{#statuses}}
                            {{/statuses}}
                        </div>
                    {{/notes.isEmpty}}
                </div>
            </div>
        {{/issetResult}}
    </div>
</div>