.block-50{
    width: 50%;
}
.block-category{
    position: relative;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
}

.blackout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000030;
    transition: 0.3s;

}
.block-category:hover .blackout{
    background: #00000075;
    transition: 0.3s;
}
.category__block-title{
    position: absolute;
    height: max-content;
    margin: auto;
    width: max-content;
    font-size: 40px;
    color: #fff;
    font-family: "Playfair Display";
    font-weight: 900;
}
.category__title_align-bottom-left{
    bottom: 55px;
    left: 60px;
}
.block-50{
    margin-bottom: 40px;
}
@media (max-width: 767px){
    .block-50{
        width: 100%;
        margin-bottom: 30px;
    }
    .flex-container{
        flex-wrap: wrap;
    }
    .catalog-container{
        margin-bottom: 30px;
    }
    .block-category{
        height: 280px;
    }

    .category__title{
        font-size: 24px;
        text-align: center;
        font-weight: 700;
    }

    .category__block-title {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 24px;
    }

}
@media (min-width: 768px) and (max-width: 1199px){
    .block-50{
        width: 100%;
    }
    .flex-container{
        flex-wrap: wrap;
    }
    .catalog-container{
        margin-bottom: 40px;
    }


}
@media (min-width: 1200px){
    .flex-container{
        flex-wrap: wrap;
    }
    .catalog-container{
        margin-bottom: 60px;
    }
}