<div class="feedback-form__group">
    <input class="feedback-form__control feedback-form__control_type_file{{requiredCssClass}}"
           type="file"
           name="{{code}}{{#multiple}}[]{{/multiple}}" {{#multiple}}multiple{{/multiple}}>
</div>