<div class="feedback-form__group">
    <textarea class="feedback-form__control feedback-form__control_type_textarea{{requiredCssClass}}"
              name="{{code}}"
              placeholder="{{placeholder}}">{{value}}</textarea>
</div>