.block-50 {
    width: 50%;
}
.block-category {
    position: relative;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
}
.blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000075;
}

.category__block-title {
    position: absolute;
    height: max-content;
    margin: auto;
    width: max-content;
    max-width: 100%;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-family: "Playfair Display";
    font-weight: 900;
    line-height: 1.1;
}
.category__title_align-center {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}
.block-category:hover .blackout, .block-category:hover .category__block-title{
    opacity: 0;
    transition: 0.3s;
}

.category__title_small-text {
    font-size: 28px;
    max-width: 100%;
    text-align: center;
}
.block-25 {
    width: 25%;
    margin-bottom: 30px;
    padding: 0 15px;
    box-sizing: border-box;
}
.block-category {
    height: 255px;
}

@media (max-width: 767px) {
    .flex-container {
        flex-wrap: wrap;
    }
    .block-category {
        height: 255px;
    }
    .category__title_align-bottom-left {
        bottom: 25px;
        left: 25px;
    }
    .block-25 {
        width: 100%;
    }

}




@media (min-width: 768px) and (max-width: 1199px) {
    .flex-container {
        flex-wrap: wrap;
    }
    .block-25 {
        width: 50%;
    }
    .block-category {
        height: 354px;
    }


}




@media (min-width: 1200px) {
    .flex-container {
        flex-wrap: wrap;
    }

}