<div class="feedback-form__group ">
    <input class="feedback-form__control feedback-form__control_type_text{{requiredCssClass}}{{maskCssClass}}"
           type="text"
           name="{{code}}"
           value="{{value}}"
           placeholder="{{placeholder}}">
</div>